<head>
	<!-- ビューポートの設定 -->
	<meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<div id="hellindexcontainer">
    <header class="header-nav">
        <div class="indextitle">
        <a href="/zenkoutweets/"><img src="/images/angel.png" width="50px" height="50px"></a>
        </div>
        <nav><a href="/about">About</a></nav>
        <nav><a href="/hells">Hells</a></nav>
        <nav><a href="/heaven">Heaven</a></nav>
        <nav><a href="/links">Links</a></nav>
    </header>
    <div class="heart">
        <img src="/images/heart.png" width="20px" height="20px">
    </div>

    <div class="first-block">
        <div class="abouttitle">
            天国への階段
        </div>
    </div>
    <div class = "aboutmain">
        <div class="aboutscript">
            皆さんは死後の世界を信じていますか？できることなら天国に行きたいですよね。
            このサイトはあなたが天国へ行くのを応援するために作りました。
            皆さん、何か行動しないとどこかの地獄に落ちてしまいますよ。
            懺悔したいことはありませんか？心にあるわだかまりを吐き出してみましょう。多くの人の赦しを貰えば、天国への道が拓かれます。
            善行したことはありませんか？ぜひ皆さんの前で報告してみましょう。
            多くの人の感謝を貰えば、天国への道が拓かれます。自分の投稿を賛美して、天国行きに粉飾するのは
            ダメですよ！神様は見ています。
        </div>
    </div>


    <div class="third-block">

    </div>

    <div class="fire">
        <img src="/images/fire.png" width="40px" height="40px" class="fireimg">
    </div>
    <div class = "oni">
    </div>

    <div class="links">
        <div class="zenkoulink"><%= link_to "善行の部屋に戻る", zenkoutweets_path %></div>
        <div class="zangelink"><%= link_to "懺悔の部屋に戻る", zangetweets_path %></div>
    </div>
    
    <footer>
    　 Copyright © M.N All Rights Reserved.
    </footer>
</div>