<head>
	<!-- ビューポートの設定 -->
	<meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<div id="hellindexcontainer">
    <header class="header-nav">
        <div class="indextitle">
        <a href="/zenkoutweets/"><img src="/images/angel.png" width="50px" height="50px"></a>
        </div>

        <nav><a href="/about">About</a></nav>
        <nav><a href="/hells">Hells</a></nav>
        <nav><a href="/heaven">Heaven</a></nav>
        <nav><a href="/links">Links</a></nav>
    </header>

    <div class="heart">
        <img src="/images/heart.png" width="20px" height="20px">
    </div>

    <div class="first-block">
        <div class="heaventitle">
            天国
        </div>
    </div>

    <div class = "heavenmain">
        <div class = "heavenimage">
        </div>
        <div class="heavenscript">
        死後の世界を想像したことはありますか？宗教勧誘ではないです（笑）もし天国に行けるなら、
        ぜひ行ってみたいものです。快楽に満ち、苦しみは存在しない。現世がそうであってほしいですよね。
        なかなか現実は厳しいものだと多くの方は実感されてることでしょう。だからこそ、天国という存在を
        死後に求めたのかもしれません。
        </div>
    </div>

    <div class="fire">
        <img src="/images/fire.png" width="40px" height="40px" class="fireimg">
    </div>

    <div class = "oni">
    </div>

    <div class="links">
        <div class="zenkoulink"><%= link_to "善行の部屋に戻る", zenkoutweets_path %></div>
        <div class="zangelink"><%= link_to "懺悔の部屋に戻る", zangetweets_path %></div>
    </div>
    
    <footer>
    　 Copyright © M.N All Rights Reserved.
    </footer>
</div>