<head>
	<!-- ビューポートの設定 -->
	<meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<div id="hellindexcontainer">
    <header class="header-nav">
        <div class="indextitle">
        <a href="/zenkoutweets/"><img src="/images/angel.png" width="50px" height="50px"></a>
        </div>
        <nav><a href="/about">About</a></nav>
        <nav><a href="/hells">Hells</a></nav>
        <nav><a href="/heaven">Heaven</a></nav>
        <nav><a href="/links">Links</a></nav>
    </header>
    <div class="heart">
        <img src="/images/heart.png" width="20px" height="20px">
    </div>

    <div class="hellpagetitle">
            地獄
    </div>

    <div class = "hellmain">

        <div class="hell">
            <div class = "helltitle">
                等活地獄
            </div>

            <div class = "hellcontents">
                <div class = "hell1image">
                </div>
                <div class = "hellscript">
                身体が切り刻まれ粉砕されて死ぬが、涼風が吹いて「活きよ」という声とともに何度でも
                生き返るという。1兆6653億1250万年続く。
                </div>
            </div>

        </div>


        <div class="hell">
            <div class = "helltitle">
                黒縄地獄
            </div>

            <div class = "hellcontents">
                <div class = "hell2image">

                </div>
                <div class = "hellscript">
                ノコギリが張り巡らされた鉄の山を登らせ落ちた先には
                煮られたお湯が待っているという。13兆3225億年続く。
                </div>
            </div>

        </div>

        <div class="hell">
            <div class = "helltitle">
                衆合地獄
            </div>

            <div class = "hellcontents">
                <div class = "hell3image">

                </div>
                <div class = "hellscript">
                鉄の木の上に美人がいるが、昇り降りするたびに罪人の体から血が吹き出す。鉄の巨象にふまれる
                こともあるという。106兆5800億年続く。
                </div>
            </div>
        </div>

        <div class="hell">
            <div class = "helltitle">
                叫喚地獄
            </div>
                
            <div class = "hellcontents">
                <div class = "hell4image">

                </div>
                <div class = "hellscript">
                熱湯の大釜に入れられ、頭が金色、目から火を吹く。逃げ出した罪人は弓矢で射られるという。
                852兆6400億年続く。
                </div>

            </div>
        </div>

        <div class="hell">
            <div class = "helltitle">
                大叫喚地獄
            </div>

            <div class = "hellcontents">
                <div class = "hell5image">
                
                </div>
                <div class = "hellscript">
                さらに大きな熱湯の釜が用いられる。猛火の鉄室にも入れられるという。
                6821兆1200億年続く。
                </div>

            </div>
        </div>

        <div class="hell">
            <div class = "helltitle">
                焦熱地獄
            </div>

            <div class = "hellcontents">
                <div class = "hell6image">

                </div>
                <div class = "hellscript">
                常に極熱で体中を焼かれ続ける。鉄串に刺されたり、目・鼻・口・手足に分解された上に
                焼かれることもあるという。5京4568兆9600億年続く。
                </div>

            </div>
        </div>

        <div class="hell">
            <div class = "helltitle">
                大焦熱地獄
            </div>

            <div class = "hellcontents">
                <div class = "hell7image">

                </div>
                <div class = "hellscript">
                    さらなる極熱で焼かれる。罪人の苦しみの声は3万km先でも聞こえるという。
                    43京6551兆6800億年続く。
                </div>

            </div>

        </div>

        <div class="hell">
            <div class = "helltitle">
                無間地獄    
            </div>

            <div class = "hellcontents">
                <div class = "hell8image">

                </div>
                <div class = "hellscript">
                地獄の最下層に位置し、全ての苦しみを味わう。この地獄に到達するためには
                2000年落下し続ける必要があるという。682京1120兆年続く。
                </div>

            </div>
        </div>
    </div>
    
    <div class="fire">
        <img src="/images/fire.png" width="40px" height="40px" class="fireimg">
    </div>
    <div class = "oni">
    </div>

    <div class="links">
        <div class="zenkoulink"><%= link_to "善行の部屋に戻る", zenkoutweets_path %></div>
        <div class="zangelink"><%= link_to "懺悔の部屋に戻る", zangetweets_path %></div>
    </div>

    <footer>
    　 Copyright © M.N All Rights Reserved.
    </footer>
</div>