<head>
	<!-- ビューポートの設定 -->
	<meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<div id="hellindexcontainer">
    <header class="header-nav">
        <div class="indextitle">
        <a href="/zenkoutweets/"><img src="/images/angel.png" width="50px" height="50px"></a>
        </div>
        <nav><a href="/about">About</a></nav>
        <nav><a href="/hells">Hells</a></nav>
        <nav><a href="/heaven">Heaven</a></nav>
        <nav><a href="/links">Links</a></nav>
    </header>
    <div class="heart">
        <img src="/images/heart.png" width="20px" height="20px">
    </div>


    <div class="first-block">
        <div class="linkstitle">
            天国への階段
        </div>
    </div>
    <div class = "linksmain">
        <div class="linkscript">
        サイトをご覧いただいてありがとうございます。管理人です。
        某理系大学の大学生(2020年)をやっていたわけですが、何か面白いことは無いかなと思い、
        大学生晩年ながらとあるプログラミングサークルに入りました。
        このサイトはそこで作成したものです。たくさんご教授いただき感謝しています。
        以下管理人とサークルのリンクです。もし、ご興味がありましたらご連絡ください！
        </div>


        <div class="otherlinks">
            <a href="https://twitter.com/MN_Geek_web25">管理人のTwitter</a><br><br><br>
            <a href="https://bit.ly/3dgdCSl">GeekSalon</a> 
        </div>

        <div class="mail">
        また、このサイトに関してご意見・要望がありましたら、
        TwitterのDMか以下のメールまでご連絡ください！<br><br>

        <p style="text-align:center;">  y2pgftpe@gmail.com </p>
        </div>
    </div>
    
    <div class="fire">
        <img src="/images/fire.png" width="40px" height="40px" class="fireimg">
    </div>

    <div class = "oni">
    </div>

    <div class="links">
        <div class="zenkoulink"><%= link_to "善行の部屋に戻る", zenkoutweets_path %></div>
        <div class="zangelink"><%= link_to "懺悔の部屋に戻る", zangetweets_path %></div>
    </div>

    <footer>
    　 Copyright © M.N All Rights Reserved.
    </footer>
</div>